.movie-details-container {
     margin-top: 40px;
     padding-left: 40px;
     padding-right: 40px;    
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
}

.movie-details-card {
    padding-top: 50px;
    padding-left: 140px;
    padding-bottom: 20px;
    padding-right: 100px;
    max-width: 1600px;
    margin-bottom: 20px;
}


.arrow-goback {
     color: #FFC700,;
     transform: rotate(-180deg);   
     margin-right: 30px;
}

.movie-details-goback{
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.text-goback {
     font-size: 24px;
     line-height: 33px;
     letter-spacing: -0.015em;
     color: #263238;
     mix-blend-mode: normal;
}

.movie-details-card2 {
     margin-left: 60px;
}

.movie-details-img{
     max-width: 250px;
     max-width: 250px;
}

.movie-description-text{
     width: 540px;
     height: 240px;
     font-size: 16px;
     line-height: 21,79px;
     letter-spacing: -0.015em;
     color: #9E9E9E;
     border: 1px solid #E1E1E1;
     box-sizing: border-box;
     border-radius: 20px;
     padding: 15px 30px 0px 20px;
     text-align: justify;
}

.movie-details-title{
     font-size: 36px;
     line-height: 49px;
     letter-spacing: -0.015em;
     color: #263238;
}

.movie-details-subtitle{
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 25px;
     letter-spacing: -0.015em;
     color: #FFFFFF;
     mix-blend-mode: normal;
     margin-bottom: 5px;
}

.movie-details-year{
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 33px;
     letter-spacing: -0.015em;
     color: #FFC700;
     mix-blend-mode: normal;
     margin-top: 5px;
     margin-bottom: 5px;
}

.review-card{
     margin-bottom: 20px;
}

.review-user-card{

}