.home-container{
     display: flex;
     padding: 40px 40px 100px 0px;
     justify-content: center;
}

.home-info-title{
     margin-top: 20px;
     font-size: 55px;
     line-height: 75px;
     letter-spacing: -0.015em;
     color: #fff;
}

.home-info-subtitle{
     margin-top: 60px;
     margin-bottom: 60px;
     font-size: 24px;
     line-height: 33px;
     letter-spacing: -0.015em;
     color: #f2f2f2;
}

.home-info{
     margin-right: 100px;
}
