.catalog-container{
     margin-top: 26px;
     padding: 0 40px 50px 40px;
}

.catalog-movies{
     margin-top: 43px;
     display: grid;
     grid-template-columns: repeat(auto-fill, 250px);
     grid-gap: 33px 20px;
     justify-content: space-between;
}